.App {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  background-color: #ffffffdc;
}

#navbar {
  height: 125px;
  width: 100%;
  background-color: rgb(208, 238, 244);
  position: absolute;
  top: 0;
  right: 0;
}

.react-tabs__tab:hover { 
  background-color: #f0f0f0;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#main-tab-container {
  padding-top: 130px;
}

.App-logo {
  margin-left: 20px;
  margin-top: 20px;
  width: 160px;
  height: 90px;
  display: block;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

ul {
  display: flex;
}

li {
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.tabContent {
  border: 1px solid #aaa;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}